@import "reset.css";

/* Reset box-sizing */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.mobile-landscape {
  display: none;
}

@media all and (max-height: 480px) and (orientation: landscape) {
  #root {
    display: none;
  }
  .mobile-landscape {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
